{% load static %}
<!DOCTYPE html>
<html style="box-sizing: border-box">
  <head style="box-sizing: border-box">
    <!-- <link rel="stylesheet" href="styles.css"> -->
  </head>
  <body style="background: #241c35; font-family: Gotham, sans-serif">
    <div
      style="
        display: block;
        padding: 40px 67px;
        align-items: block-start;
        gap: 10px;
        height: 100vh;
      "
    >
      <div
        style="
          display: block;
          block-direction: column;
          align-items: block-start;
          gap: 36px;
          width: 100%;
          height: 100%;
        "
      >
        <div
          style="
            display: block;
            block-direction: column;
            justify-content: center;
            align-items: block-start;
            gap: 24px;
          "
        >
          <div style="display: block; align-items: center; gap: 12px">
            <img
              src="https://api.purplequarter.co/static/assets/images/purplequarter.png"
              style="box-sizing: border-box"
            />
          </div>
          <p
            style="
              margin: 0;
              color: #fff;
              font-family: Gotham;
              font-size: 1rem;
              font-style: normal;
              font-weight: 400;
              line-height: 130%;
            "
          >
            Thank you for reaching out, we got your message.
          </p>
          <p
            style="
              margin: 0;
              color: #fff;
              font-family: Gotham;
              font-size: 1rem;
              font-style: normal;
              font-weight: 400;
              line-height: 130%;
            "
          >
            To better understand your queries and assist you, a member of our
            team will contact you within 24 business hours.
          </p>
          <p
            style="
              margin: 0;
              color: #fff;
              font-family: Gotham;
              font-size: 1rem;
              font-style: normal;
              font-weight: 400;
              line-height: 130%;
            "
          >
            Please expect a delayed response on weekends.Cheers!Team Purple
            Quarter !
          </p>
        </div>
        <div
          style="
            display: block;
            block-direction: column;
            align-items: block-start;
            gap: 15px;
          "
        >
          <p
            style="
              margin: 0;
              color: #fff;
              font-family: Gotham;
              font-size: 0.75rem;
              font-style: normal;
              font-weight: 500;
              line-height: 130%;
            "
          >
            Overview of your Data Submission
          </p>
          <div
            style="
              display: block;
              padding: 24px 26px;
              align-items: block-start;
              gap: 10px;
              border-radius: 8px;
              border: 1px solid #353260;
              background: linear-gradient(
                  0deg,
                  rgba(0, 0, 0, 0.2) 0%,
                  rgba(0, 0, 0, 0.2) 100%
                ),
                radial-gradient(
                  114.84% 79.72% at -0% 0%,
                  #353260 0%,
                  rgba(36, 28, 53, 0) 100%
                ),
                radial-gradient(
                  102.49% 80.55% at 97.79% 107.66%,
                  #353260 0%,
                  rgba(36, 28, 53, 0) 100%
                ),
                #241c35;
              box-shadow: 0px 24px 44px -20px rgba(0, 0, 0, 0.15);
            "
          >
            <div
              style="
                display: block;
                block-direction: column;
                align-items: block-start;
                gap: 24px;
              "
            >
              <div
                style="
                  display: block;
                  block-direction: column;
                  align-items: block-start;
                  gap: 16px;
                "
              >
                <p
                  style="
                    margin: 0;
                    color: #fff;
                    font-family: Gotham;
                    font-size: 0.75rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    text-decoration-line: underline;
                  "
                >
                  Your details
                </p>
                <p
                  style="
                    margin: 0;
                    color: #fff;
                    font-family: Gotham;
                    font-size: 0.875rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 130%;
                  "
                >
                  Name: {{name}}
                </p>
                <div style="display: block; align-items: center; gap: 6px">
                  <p
                    style="
                      margin: 0;
                      color: #fff;
                      font-family: Gotham;
                      font-size: 0.875rem;
                      font-style: normal;
                      font-weight: 500;
                      line-height: 130%;
                    "
                  >
                    Email:
                  </p>
                  <p
                    style="
                      margin: 0;
                      font-family: Gotham;
                      font-size: 0.875rem;
                      font-style: normal;
                      font-weight: 500;
                      line-height: normal;
                      background: linear-gradient(
                        140deg,
                        #f5cec4 0%,
                        #dab4a6 4%,
                        #c8a291 8%,
                        #bc9784 11%,
                        #b99480 15%,
                        #e0aa93 45%,
                        #9e6d53 84%,
                        #99674e 100%
                      );
                      background-clip: text;
                      -webkit-background-clip: text;
                      -webkit-text-fill-color: transparent;
                    "
                  >
                    {{company_email}}
                  </p>
                </div>
                <p
                  style="
                    margin: 0;
                    color: #fff;
                    font-family: Gotham;
                    font-size: 0.875rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 130%;
                  "
                >
                  Phone: {{std_code}}-{{phone}}
                </p>
                <p
                  style="
                    margin: 0;
                    color: #fff;
                    font-family: Gotham;
                    font-size: 0.875rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 130%;
                  "
                >
                  Designation: {{designation}}
                </p>
              </div>
              <div
                style="
                  height: 0px;
                  align-self: stretch;
                  stroke-width: 1px;
                  stroke: #2a274b;
                "
              ></div>
              <div
                style="
                  display: block;
                  block-direction: column;
                  align-items: block-start;
                  gap: 16px;
                "
              >
                <p
                  style="
                    margin: 0;
                    color: #fff;
                    font-family: Gotham;
                    font-size: 0.75rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    text-decoration-line: underline;
                  "
                >
                  Role Detials
                </p>
                <p
                  style="
                    margin: 0;
                    color: #fff;
                    font-family: Gotham;
                    font-size: 0.875rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 130%;
                  "
                >
                  Region: {{location}}
                </p>
                <p
                  style="
                    margin: 0;
                    color: #fff;
                    font-family: Gotham;
                    font-size: 0.875rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 130%;
                  "
                >
                  Budget: {{budget}}
                </p>
                <p
                  style="
                    margin: 0;
                    color: #fff;
                    font-family: Gotham;
                    font-size: 0.875rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 130%;
                  "
                >
                  Role you&rsquo;re Hiring for: {{role}}
                </p>
                <p
                  style="
                    margin: 0;
                    color: #fff;
                    font-family: Gotham;
                    font-size: 0.875rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 130%;
                  "
                >
                  Heard about us from: {{source}}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div style="display: block; align-items: block-start; gap: 24px">
          <img
            src="https://api.purplequarter.co/static/assets/images/awards.png"
            style="box-sizing: border-box"
          />
          <div
            style="
              display: block;
              block-direction: column;
              align-items: block-start;
              gap: 24px;
            "
          >
            <div
              style="
                display: block;
                block-direction: column;
                align-items: block-start;
                gap: 16px;
              "
            >
              <p
                style="
                  margin: 0;
                  color: #fff;
                  font-family: Gotham;
                  font-size: 1rem;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 130%;
                "
              >
                Find us on Social Platforms
              </p>
              <img
                src="https://api.purplequarter.co/static/assets/images/platforms.png"
                style="box-sizing: border-box"
              />
              <p
                style="
                  margin: 0;
                  color: #fff;
                  font-family: Gotham;
                  font-size: 1rem;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 150%;
                  opacity: 0.699999988079071;
                "
              >
                Bangalore | Santa Clara | London<br
                  style="box-sizing: border-box"
                />Singapore | Dubai
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
